.home {
  background-color: #181818;
  border-bottom: 1px solid #222227;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 400px;
  width: 100%;
  padding: 60px 0;
}

.home-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
  line-height: 140%;
}

.home-text {
  position: relative;
  z-index: 2;
  color: #bdbdbd;
  max-width: 700px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 15px;
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.home-btn {
  width: auto;
  min-width: 140px;
  height: 50px;
  border-radius: 12px;
  background-color: #222227;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0 20px;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.home-btn:hover {
  color: #6164ff;
  transition: 0.2s ease-in;
}
.home-btn--clr {
  background-color: #6164ff;
  color: #fff;
}
.home-btn--clr:hover {
  background-color: #222227;
  color: #6164ff;
}

@media (min-width: 768px) {
  .home-content {
    padding: 70px 0;
  }
  .home-title {
    font-size: 36px;
  }
  .home-btn {
    margin-top: 30px;
    margin-right: 30px;
    min-width: 160px;
    padding: 0 25px;
  }
}
@media (min-width: 1200px) {
  .home-title {
    font-size: 42px;
  }
  .home-btn {
    margin-top: 40px;
  }
}

.feature-container{
  margin-top: 2rem;
  background-color: #181818;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #222227;
  }
  .feature-head{
    color: white;
  }
  .feature-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(97, 100, 255, 0.15);
  }
  .feature-icon svg {
    fill: #6164ff;
    width: auto;
    height: 26px;
  }
  .feature-icon--purple {
    background-color: rgba(128, 81, 212, 0.15);
  }
  .feature-icon--purple svg {
    fill: #8051d4;
  }
  .feature-icon--red {
    background-color: rgba(235, 87, 87, 0.15);
  }
  .feature-icon--red svg {
    fill: #eb5757;
  }
  .feature-icon--blue {
    background-color: rgba(47, 128, 237, 0.15);
  }
  .feature-icon--blue svg {
    fill: #2f80ed;
  }
  .feature-icon--green {
    background-color: rgba(37, 165, 106, 0.15);
  }
  .feature-icon--green svg {
    fill: #25a56a;
  }
  .feature-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    margin-left: 15px;
    width: calc(100% - 65px);
  }
  .feature-text {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #bdbdbd;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .feature-text a {
    color: #6164ff;
    text-decoration: underline;
  }
  .feature-text a:hover {
    color: #6164ff;
    text-decoration: none;
  }
  .feature--last {
    border-bottom: none;
    padding-bottom: 0;
  }
  @media (min-width: 768px) {
    .feature {
      margin-top: 30px;
      padding-bottom: 0;
      border-bottom: none;
      padding-right: 20px;
    }
  }
  @media (min-width: 1200px) {
    .feature {
      margin-top: 40px;
    }
}

